{% extends 'index.html' %} {% block content %}

<div class="container py-5">
  <h1 class="mb-4">Edit Page</h1>
  <div class="inner">
    <form
      action="{% url 'edit-account' %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %} <br />
      {% for field in form %}
      <label class="form-group"> {{field.label}} </label>
      {{field}} {% endfor %}

      <button class="submitbtn" type="submit">
        Submit
        <i class="zmdi zmdi-arrow-right"></i>
      </button>
    </form>
  </div>
</div>

{% endblock %}
